<!-- <p>There are {{getLists().length}} lists</p> -->
<!--
<p>getItemsUI: {{getItemsUI() | json}}</p>
<p>getLists: {{getLists() | json}}</p>
-->

<section class="container">
  <section class="new_state">
    <form (ngSubmit)="createList(newListName.value); newListName.value=''">
      <input class="new_list" type="text" placeholder=" Nouvelle liste" #newListName/>
    </form>
  </section>

  <app-todo-list *ngFor="let list of getLists()" [list]="list" [clock]="list.clock" [lists]="getLists()"></app-todo-list>
</section>
