<section class="root card" [style.backgroundColor]="getColor()">
  <table width="100%">
    <tr>
      <td id="td-title-state" class="title is-4" width="75%"><h3><b>{{list.name}}</b></h3></td>
      <td id="td-btn-delete-state" width="25%">
        <!-- icone permettant de supprimer un état -->
        <i *ngIf="this.list.name!=='Tâches' && this.list.name!=='Faites'" (click)="delete()" class="fa fa-times" aria-hidden="true"></i> <!-- to do better -->
        <!-- changement de couleur de la todolist (pas concerné)
        <input type="color" [ngModel]="getColor()" (ngModelChange)="setColor($event)" /> -->
      </td>
    </tr>
  </table>
  <br/>
  <section droppable (onDrop)="changeList($event)" class="items">
    <app-todo-item id="item"
                   *ngFor="let item of list.items"
                   [clock]="item.clock"
                   [item]="item"
                   [listId]="list.id"
                   [lists]="lists">
    </app-todo-item>

    <form (ngSubmit)="createItem(newItemLabel.value); newItemLabel.value=''">
      <input id="inputItem" type="text" placeholder=" Nouvelle tâche" #newItemLabel/>
      <section class="has-text-centered">
        <i class="fa fa-plus-square-o fa-1x" aria-hidden="true"></i>
      </section>
    </form>
  </section>
</section>
