<section class="root">
  <h3 *ngIf="!isEditingLabel()" (dblclick)="editLabel(true)">
    {{list.name}}
  </h3>

  <form *ngIf="isEditingLabel()" (submit)="setLabel(newLabel.value)">
    <input #newLabel type="text" [value]="list.name" />
  </form>

  <div class="icons disable-select">
    <!-- Icones de la liste :
          dérouler description
          dupliquer la liste
          supprimer la liste
    -->
    <i *ngIf="!isShowingDescription()" (click)="showDescription()" class="fa fa-angle-down" aria-hidden="true" title="Description"></i><!--
    --><i *ngIf="isShowingDescription()" (click)="showDescription()" class="fa fa-angle-up" aria-hidden="true" title="Masquer description"></i><!--
    --><i (click)="duplicateList()" class="fa fa-clone dupListe" aria-hidden="true" title="Dupliquer"></i><!--
    --><i (click)="delete()" class="fa fa-times supprListe" aria-hidden="true" title="Supprimer"></i>
    <i (click)="placeUp()" class="fa fa-arrow-left" aria-hidden="true" title="PlaceLeft"></i>
    <i (click)="placeDown()" class="fa fa-arrow-right" aria-hidden="true" title="PlaceRight"></i>
  </div>

  <div class="descr" *ngIf="isShowingDescription()">
    <div *ngIf="!isEditingDescription()" (dblclick)="editDescription(true)" class="is-small">Description :
      <br/> {{getDescription()}}
    </div>
    <form *ngIf="isEditingDescription()" (submit)="setDescription(newDesc.value)">
      <label>Description</label>
      <textarea #newDesc value={{getDescription()}}></textarea>
      <button type="submit">
        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
      </button>
    </form>
  </div>

  <section class="items">
    <form (ngSubmit)="createItem(newItemLabel.value); newItemLabel.value=''">
      <input class="inputItem" type="text" placeholder=" Nouvelle tâche" #newItemLabel/>
    </form>

    <div droppable (onDrop)="dragItem($event)" class='itemsContainer'>
      <div *ngIf="filterNotDoneItems().length != 0" class="notDone">
        Tâche(s) en cours
        <app-todo-item id="itemNotDone" *ngFor="let item of filterNotDoneItems()" [clock]="item.clock" [item]="item" [listId]="list.id"
          [lists]="lists">
        </app-todo-item>
      </div>
      <div *ngIf="filterDoneItems().length != 0" class="done">
        Tâche(s) réalisées
        <app-todo-item id="itemDone" *ngFor="let item of filterDoneItems()" [clock]="item.clock" [item]="item" [listId]="list.id"
          [lists]="lists">
        </app-todo-item>
      </div>
    </div>

  </section>
</section>
