/*
section.toBeUpdated {
  background-color: orangered;
}
*/

form {
  display: inline;
}

table.item {
  border: 1px solid darkslategrey;
  margin-bottom: 1em;
}

td {
  padding: 10px;
  color: white;
}

.subtitle {
  color: white;
}

.tdHidden {
  padding: 0 10px 0 10px;
}
