<section class="item" draggable [dragData]="getDragItem()">
  <input #isChecked type="checkbox" [ngModel]="item.checked" (ngModelChange)="check(isChecked.checked)" />

  <label class="subtitle is-5" *ngIf="!isEditingLabel()" (dblclick)="editLabel(true)">
    {{item.label}}&nbsp;&nbsp;
  </label>
  <form *ngIf="isEditingLabel()" (submit)="setLabel(newLabel.value)">
    <input #newLabel type="text" [value]="item.label"/>
  </form>
  <!-- icone pour afficher les détails dans un item -->
  <i (click)="showDetails()" class="fa fa-caret-square-o-down fa-1x" aria-hidden="true"></i>
  <!-- icone pour supprimer un item -->
  <i (click)="delete()" class="fa fa-window-close fa-1x" aria-hidden="true"></i>
  <div *ngIf="isShowingDetails()">
    <div *ngIf="!isEditingDate()" (dblclick)="editDate(true)" class="is-small">Deadline : {{getTheDate()}}</div>
    <form *ngIf="isEditingDate()" (submit)="setDate(newDate.value)">
      <label>Deadline</label>
      <input #newDate type="datetime-local" value={{getTheDateString()}}/>
      <button type="submit"><i class="fa fa-check-circle-o" aria-hidden="true"></i></button>
    </form>
  </div>

</section>

