section.item {
  border: solid thin #444;
  margin: 5px 0 0 0;
  padding: 5px;
  -webkit-transition: ease all 0.2s;
  -moz-transition: ease all 0.2s;
  -ms-transition: ease all 0.2s;
  -o-transition: ease all 0.2s;
  transition: ease all 0.2s;
  text-align: left;
}

.icons {
  float: right;
}

.icons:hover {
  cursor: pointer;
}

.icons>i {
  margin-right: 2px;
  padding: 3px;
  transition: ease all 0.2s;
}

.icons>i:hover {
  color: #000;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}

.icons>i.supprItem:hover {
  color: #C01607;
}

.item {
  color: #444;
}

.detailsItem {
  margin-top: 5px;
}

.item:hover {
  /*-webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);*/
  background-color: #77A1FF!important;
}

p.label {
  display: inline-block;
  max-width: 157px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}

div.description {
  border: solid thin #444;
  padding: 5px;
  margin-bottom: 5px;
}

div.date {
  border: solid thin #444;
  padding: 5px;
}

form {
  display: inline-block;
}

textarea {
  min-width: 250px;
  max-width: 250px;
  display: block;
}
