.container {
  font-family: 'Roboto', sans-serif;
}
.navbar {
  background-color: #616161;
  padding: 20px;
  text-align: right;
}
.navbar h1 {
  margin: 0;
}
.navbar-menu {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
}
.navbar-brand {
  display: inline-block;
  margin-left: 20px;
}
