header img.photo {
  width: 6em;
  height: 6em;
  margin-left: 1em;
}

html {
  min-height: 100%;
  position: absolute;
  min-width: 100%;
}

body {
  min-width: 100%;
  min-height: 100%;
  position: relative;
}


app-todo-list:nth-child(1) #td-btn-delete-state {
  display: none!important;
}
app-todo-list:nth-child(2) #td-btn-delete-state {
  display: none!important;
}

